body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  font-family: monospace;
}

.data {
  margin: 2px;
  font-size: 15px;
}
.center {
  text-align: center;
}
.submit {
  background-color: blue;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 5px 10px;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}